/* Add CSS Styling */
p {
    background-color: #ff000050;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: #0000ff;
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth {
    background-color: #00ff0050;
    font-size: 24px;
    font-weight: bold;
}